//<МИКСИНЫ>========================================================================
@import "mixins";
//</МИКСИНЫ>=======================================================================

//<ШРИФТЫ>=========================================================================

//<Подключаем шрифты>==============================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=============================================================

//<Иконочный шрифты>===============================================================
@import "icons";
//</Иконочные шрифты>==============================================================

//<Шрифт по умолчанию>=============================================================
$fontFamily: "";
//</Шрифт по умолчанию>============================================================

//</ШРИФТЫ>========================================================================

//<ПЕРЕМЕННЫЕ>=====================================================================
$minWidth: 320px;
$maxWidth: 1593;
$maxWidthContainer: 1153;
//</ПЕРЕМЕННЫЕ>====================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>====================================================

//<ОБОЛОЧКА>=======================================================================
.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template: minmax(80px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
//</ОБОЛОЧКА>=====================================================================

//<ОСНОВНАЯ СЕТКА>================================================================

//</ОСНОВНАЯ СЕТКА>================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===========================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==========================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==================================
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>==================================================================
// .page {
// 	flex: 1 1 auto;
// }
//=================================================================================

//</ОСНОВНОЙ БЛОК>=================================================================
